@inherits LayoutComponentBase
<link href="login.css" rel="stylesheet">

<div class="body-container col-12">
    <div class="container">
        <div class="form-container">
            @Body
        </div>
    </div>
</div>