.page[b-i4kmk03w9v] {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

main[b-i4kmk03w9v] {
    flex: 1;
    padding: 1rem;
}


.top-nav[b-i4kmk03w9v] {
    background: linear-gradient(to right, #74ebd5, #9face6); 
    height: 5rem; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 1rem; 
    position: sticky; 
    top: 0;
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#blazor-error-ui[b-i4kmk03w9v] {
    color-scheme: light only;
    background: #fff3b0; 
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1001;
}

#blazor-error-ui .dismiss[b-i4kmk03w9v] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


@media (min-width: 641px) {
    .page[b-i4kmk03w9v] {
        flex-direction: column;
    }

    .top-nav[b-i4kmk03w9v] {
        width: 100%;
        height: 5rem;
        position: sticky;
        top: 0;
    }
}

